:categories:
  'Rule #0': 'Rule #0: Namecalling, trolling, discrimination'
  'Rule #1': 'Rule #1: DNP, content theft, pay content, trace/bad edit'
  'Rule #2': 'Rule #2: Bad tagging/sourcing'
  'Rule #3': 'Rule #3: Image not MLP-related/obligatory pony'
  'Rule #4': 'Rule #4: Whining about filterable content'
  'Rule #5': 'Rule #5: Underage+human/anthro-looking porn'
  'Rule #6': 'Rule #6: Spam, off-topic, or general site abuse'
  'Rule #7': 'Rule #7: Above topic rating (NOT swear words)'
  'Rule #8': 'Rule #8: Privacy violation'
  'Rule #9': 'Rule #9: Commissions'
  'Rule #n': 'Rule #n: Spirit of the rules'
  'Other': 'Other (please explain)'
  'Takedown request': 'Takedown request'
